<div class="col-md-6">
    <div class="card-columns">
        <div class="card bg-light">
            <div class="card-body text-center">
                <% include ../etc/date %>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card-columns">
        <div class="card bg-light">
            <div class="card-body text-center">
                <p class="card-text">Total Expenses: <%= total_expenses %> </p>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <div class="card bg-light">
            <div class="card-body text-center">
                <p class="card-text">Total Wsoli: <%= total_wasoli %> </p>
            </div>
        </div>
    </div>
</div>